<div nz-row nzAlign="top" nzJustify="space-around">
  <div nz-col nzSpan="12">
    <h4>已读{{readList.length}}人</h4>
    <nz-table
      (nzPageIndexChange)="loadTableData(readTable,readList)"
      [nzData]="readTable.data"
      [nzFrontPagination]="false"
      [nzLoading]="readTable.loading"
      [nzPageIndex]="readTable.pageIndex"
      [nzPageSize]="readTable.pageSize"
      [nzTotal]="readTable.total"
      nzHideOnSinglePage
      nzSize="small">
      <thead>
      <tr>
        <th>ID</th>
        <th>昵称</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of readTable.data">
        <td>{{item.userId}}</td>
        <td>{{item.nickname}}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
  <div nz-col nzSpan="12">
    <h4>未读{{unreadList.length}}人</h4>
    <nz-table
      (nzPageIndexChange)="loadTableData(unreadTable,unreadList)"
      [(nzPageIndex)]="unreadTable.pageIndex"
      [nzData]="unreadTable.data"
      [nzFrontPagination]="false"
      [nzLoading]="unreadTable.loading"
      [nzPageSize]="unreadTable.pageSize"
      [nzTotal]="unreadTable.total"
      nzSize="small"
      nzHideOnSinglePage>
      <thead>
      <tr>
        <th>ID</th>
        <th>昵称</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of unreadTable.data">
        <td>{{item.userId}}</td>
        <td>{{item.nickname}}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
