<div class="plus" style="padding-left: 95%; padding-top: 10px;">
  <i
    style="font-size: 50px;"
    nz-icon
    nzType="plus-circle"
    nzTheme="twotone"
    nzTwotoneColor="#eb2f96"></i>
</div>
<nz-row>
  <nz-col nz-col="3" [nzOffset]="1">
    <button nz-button nzType="primary" nzSize="large" (click)="changeList()">{{buttonTitle}}</button>
  </nz-col>
</nz-row>
<nz-table
  nzShowSizeChanger
  [nzData]="listOfGroups"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  [nzPageSizeOptions]="[6]"
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
  <tr>
    <th [nzSortFn]="true" nzColumnKey="id">id</th>
    <th nzColumnKey="title">名称</th>
    <th nzColumnKey="remark">备注</th>
    <th nzColumnKey="creationDate">创建时间</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of listOfGroups">
    <td>{{ data.id }}</td>
    <td>{{ data.title }}</td>
    <td>{{ data.remark }}</td>
    <td>{{ data.creationDate }}</td>
    <td>
      <i nz-icon nzTheme="twotone" nzType="info-circle"
         routerLink="/notification/publish/publish-group-detail/{{data.id}}"
      ></i>
      &nbsp;
      <i (click)="deleteGroup(data.id)" nz-icon nzTheme="twotone" nzTwotoneColor="#eb2f96" nzType="delete"></i>
      &nbsp;
      <i [queryParams]="{gid:data.id, title:data.title}" nz-icon nzTheme="twotone" nzTwotoneColor="#52c41a"
         nzType="edit" routerLink="/notification/publish/new-notification"></i>
    </td>
  </tr>
  </tbody>
</nz-table>
