<div class="plus" style="padding-left: 95%; padding-top: 10px;">
  <i
    style="font-size: 50px;"
    nz-icon
    nzType="plus-circle"
    nzTheme="twotone"
    nzTwotoneColor="#eb2f96" ></i>
</div>
<nz-row>
  <nz-col nz-col="3" [nzOffset]="1">
    <button nz-button nzType="primary" nzSize="large" (click)="changeList()">{{buttonTitle}}</button>
  </nz-col>
</nz-row>
<nz-table
  nzShowSizeChanger
  [nzData]="listOfGroups"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
    <tr>
      <th nzColumnKey="id" [nzSortFn]="true">id</th>
      <th nzColumnKey="title" >名称</th>
      <th nzColumnKey="remark" >备注</th>
      <th nzColumnKey="creationDate" >创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of listOfGroups">
      <td>{{ data.id }}</td>
      <td>{{ data.title }}</td>
      <td>{{ data.remark }}</td>
      <td>{{ data.creationDate }}</td>
      <td>
        <i nz-icon nzType="info-circle" nzTheme="twotone" size="large"
           routerLink="/notification/subscription/group-detail/{{data.id}}"></i>
        &nbsp;
        <i nz-icon nzType="delete" nzTheme="twotone" nzTwotoneColor="#eb2f96" size="large" (click)="deleteGroup(data.id)"></i>
        &nbsp;
        <i nz-icon nzType="edit" nzTheme="twotone" nzTwotoneColor="#52c41a" size="large"></i>
        &nbsp;
      </td>
    </tr>
  </tbody>
</nz-table>
