<!--<div class="plus" style="padding-left: 95%; padding-top: 10px;">-->
<!--  <i-->
<!--    style="font-size: 50px;"-->
<!--    nz-icon-->
<!--    nzType="plus-circle"-->
<!--    nzTheme="twotone"-->
<!--    nzTwotoneColor="#eb2f96"></i>-->
<!--</div>-->
<nz-table
  [nzData]="listOfGroups"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  nzHideOnSinglePage
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
  <tr>
    <th [nzSortFn]="true" nzColumnKey="id">id</th>
    <th nzColumnKey="title">名称</th>
    <th nzColumnKey="remark">备注</th>
    <th nzColumnKey="creationDate">创建时间</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of listOfGroups">
    <td>{{ data.id }}</td>
    <td>{{ data.title }}</td>
    <td>{{ data.remark }}</td>
    <td>{{ data.creationDate }}</td>
    <td>
      <i nz-icon nz-tooltip="查看群组详情" nzTheme="twotone" nzType="info-circle"
         routerLink="/notification/publish/manage-group/{{data.id}}"></i>
      &nbsp;
      <i (click)="dismiss(data.id)" nz-icon nz-tooltip="解散群组" nzTheme="twotone" nzTwotoneColor="#eb2f96"
         nzType="delete"></i>
    </td>
  </tr>
  </tbody>
</nz-table>
<nz-row>
  <nz-col [nzOffset]="1">
    <button (click)="changeList()" nz-button nzSize="large" nzType="primary">{{buttonTitle}}</button>
  </nz-col>
</nz-row>
