span {
  font-size: 15px;
  font-family: "PingFang SC", sans-serif;
}

nz-layout {
  width: 100%;
  min-height: 100%;
  max-height: 120%;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo-div {
  min-height: 80px;
  height: 15vh;
  background-color: darkblue;
  margin: 0;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
  height: 100%;
  width: 100%;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 0;
  background: #fff;
  min-height: 360px;
  height: 100%;
  margin: 30px 45px 0 15px;
}

nz-footer {
  text-align: center;
}

.wrapper {
  width: 240px;
}
