<nz-layout class="full-screen">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" [nzWidth]="260">
    <div class="logo-div" nz-row nzAlign="middle" nzJustify="space-around">
      <div nz-col>
        <h1 class="logo-text" id="logo" nz-title style="padding-left: unset;text-align: center">A N O P</h1>
      </div>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li (nzOpenChange)="openHandler('sub1')" [(nzOpen)]="openMap.sub1" nz-submenu
          nzIcon="check-square" nzTitle="订阅">
        <ul>
          <li nz-menu-item nzMatchRouterExact="true" routerLink="/notification/subscription">
            <i nz-icon nzTheme="outline" nzType="unordered-list"></i>订阅列表
          </li>
          <li nz-menu-item nzMatchRouterExact="true" routerLink="/notification/subscription/join-group">
            <i nz-icon nzTheme="outline" nzType="search"></i>查找、加入群组
          </li>
          <!--          <li nz-menu-item nzMatchRouterExact="true" routerLink="/notification/subscription/group-message">所有通知</li>-->
        </ul>
      </li>
      <li (nzOpenChange)="openHandler('sub2')" [(nzOpen)]="openMap.sub2" nz-submenu
          nzIcon="notification" nzTitle="发布">
        <ul>
          <li nz-menu-item nzMatchRouterExact routerLink="/notification/publish">
            <i nz-icon nzTheme="outline" nzType="audit"></i>群组管理
          </li>
          <li nz-menu-item nzMatchRouterExact routerLink="/notification/publish/create-group">
            <i nz-icon nzTheme="outline" nzType="usergroup-add"></i>创建群组
          </li>
          <li nz-menu-item nzMatchRouterExact routerLink="/notification/examine">
            <i nz-icon nzTheme="outline" nzType="check"></i>审核申请
          </li>
        </ul>
      </li>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div nz-row nzJustify="space-between">
        <div nz-col nzSm="1" nzXs="1">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
             (click)="setCollapsed()"></i>
        </div>
        <div nz-col nzSm="18" nzXs="16">
          <app-head-button></app-head-button>
        </div>
        <div nz-col nzSm="2" nzXs="2" style="margin-right: 2.5vw">
          <app-drop-menu></app-drop-menu>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2019 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
