.detail-mark {
  margin-top: 10px;
  width: 200px;
  height: 100px;
  border-style: inherit;
}

.buttons {
  margin-bottom: 3%;
}

.group-info nz-row {
  margin-top: 5%;
}

.divider {
  background-color: rgb(240, 242, 245);
  /*padding-left: 20px;*/
}

.-left-content, .-right-content {
  /*border: #000c17 solid;*/
  max-height: 100%;
}

.-content {
  height: 76vh;
  max-height: 90vh;
  /*border: #55e7fc solid 1px;*/
}
