<div nz-row>
  <div class="-left-content" nz-col nzSpan="17">
    <nz-timeline>
      <nz-timeline-item nzColor="green">Create a services site 2015-09-01</nz-timeline-item>
      <nz-timeline-item nzColor="green">Solve initial network problems 2015-09-01</nz-timeline-item>
      <nz-timeline-item nzColor="red">
        <p>Solve initial network problems 1</p>
        <p>Solve initial network problems 2</p>
        <p>Solve initial network problems 3 2015-09-01</p>
      </nz-timeline-item>
      <nz-timeline-item nzColor="gray">
        <p>Technical testing 1</p>
        <p>Technical testing 2</p>
        <p>Technical testing 3 2015-09-01</p>
      </nz-timeline-item>
      <nz-timeline-item nzColor="gray">
        <p>Technical testing 1</p>
        <p>Technical testing 2</p>
        <p>Technical testing 3 2015-09-01</p>
      </nz-timeline-item>
    </nz-timeline>
  </div>

  <div class="-right-content" nz-col nzSpan="7">
    <nz-collapse>
      <nz-collapse-panel nzHeader="群组成员列表">
        <nz-list nzBordered nzItemLayout="horizontal" nzSize="small">
          <nz-list-item *ngFor="let user of listOfUsers">
            <nz-list-item-meta [nzAvatar]="user.avatarUrl" [nzTitle]="user.nickname"></nz-list-item-meta>
            <i *ngIf="user.isAdmin" nz-icon nzTheme="outline" nzType="user"></i>
          </nz-list-item>
          <nz-list-empty *ngIf="listOfUsers.length === 0"></nz-list-empty>
        </nz-list>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
</div>
<div nz-row>
  <button (click)="quitGroup()" nz-button nzDanger nzSize="large" nzType="primary">取消订阅</button>
  <button nz-button nzSize="large" nzType="primary" routerLink="/notification/subscription/group-detail">返回</button>
  <button (click)="openDrawer()" nz-button>群组详情</button>
</div>

<nz-drawer (nzOnClose)="closeDrawer()" [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="群组信息">
  <div class="group-info">
    <nz-row>
      <nz-badge nzColor="blue" nzText="名称:{{group.title}}"></nz-badge>
    </nz-row>
    <nz-row>
      <nz-badge nzColor="blue" nzText="口令:"></nz-badge>
    </nz-row>
    <nz-row>
      {{ group.avatarUrl }}
    </nz-row>
    <nz-row>
      <nz-badge nzColor="blue" nzText="创建时间:{{group.creationDate}}"></nz-badge>
    </nz-row>
    <nz-row>
      <nz-badge nzColor="blue" nzText="备注:"></nz-badge>
    </nz-row>
    <div class="detail-mark">
      {{ group.remark }}
    </div>
  </div>
</nz-drawer>
