<div nz-row>
  <div class="-left-content" nz-col nzSpan="17">
    <nz-table (nzQueryParams)="onNotificationQueryParamsChange($event)" [nzData]="nTable.data"
              [nzLoading]="nTable.loading"
              [nzPageIndex]="nTable.pageIndex"
              [nzPageSize]="nTable.pageSize"
              [nzScroll]="{y:'70vh'}" [nzTotal]="nTable.total" nzShowSizeChanger>
      <thead>
      <tr>
        <th nzColumnKey="title">标题</th>
        <th nzColumnKey="nickname">发布人</th>
        <th nzColumnKey="creationDate">发布日期</th>
        <th>详情</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let item of nTable.data">
        <tr>
          <td>{{item.title}}</td>
          <td>{{item.nickname}}</td>
          <td>{{item.creationDate}}</td>
          <td (nzExpandChange)="onExpandChange(item.id, $event)" [nzExpand]="expandSet.has(item.id)"></td>
        </tr>
        <tr [nzExpand]="expandSet.has(item.id)">
          <td>{{item.content}}</td>
        </tr>
      </ng-container>
      </tbody>
    </nz-table>
  </div>

  <div class="-right-content" nz-col nzSpan="6">
    <nz-collapse>
      <nz-collapse-panel nzHeader="群组成员列表">
        <nz-list nzBordered nzItemLayout="horizontal" nzSize="small">
          <nz-list-item *ngFor="let user of listOfUsers">
            <nz-list-item-meta [nzAvatar]="user.avatarUrl" [nzTitle]="user.nickname"></nz-list-item-meta>
            <i *ngIf="user.isAdmin" nz-icon nzTheme="outline" nzType="user"></i>
          </nz-list-item>
          <nz-list-empty *ngIf="listOfUsers.length === 0"></nz-list-empty>
        </nz-list>
      </nz-collapse-panel>
    </nz-collapse>
    <button (click)="openDrawer()" nz-button>群组详情</button>
  </div>
</div>

<nz-drawer (nzOnClose)="closeDrawer()" [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="群组信息">
  <div class="group-info">
    <nz-row>
      <nz-badge nzColor="blue" nzText="名称:{{group.title}}"></nz-badge>
    </nz-row>
    <nz-row>
      <nz-badge nzColor="blue" nzText="口令:"></nz-badge>
    </nz-row>
    <nz-row>
      {{ group.avatarUrl }}
    </nz-row>
    <nz-row>
      <nz-badge nzColor="blue" nzText="创建时间:{{group.creationDate}}"></nz-badge>
    </nz-row>
    <nz-row>
      <nz-badge nzColor="blue" nzText="备注:"></nz-badge>
    </nz-row>
    <div class="detail-mark">
      {{ group.remark }}
    </div>
    <button (click)="quitGroup()" nz-button nzDanger nzSize="large" nzType="primary">取消订阅</button>
    <button nz-button nzSize="large" nzType="primary" routerLink="/notification/subscription/group-detail">返回</button>
  </div>
</nz-drawer>
