.content {
  width: 550px;
  height: 760px;
  border-radius: 12px 12px 12px 12px;
  margin-left: 35%;
  margin-top: 10px;
  border-style: groove;
  text-align: center;
}

.detail-mark {
  margin-top: 10px;
  width: 200px;
  height: 100px;
  border-style: groove;
  border-radius: 12px 12px 12px 12px;
}

.user-list {
  margin-left: 22px;
  margin-top: 20px;
  width: 500px;
  height: 430px;
  border-style: groove;
  border-radius: 12px 12px 12px 12px;
}

.buttons {
  margin-top: 10px;
}

.head-title {
  font-size: 20px;
}

.group-info {
  margin-left: 35%;
}

.group-info nz-row {
  margin-top: 10px;
}
