<div>
  <div style="min-height: 5vh" *ngIf="loading"></div>
  <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" style="margin-top: 0.1vw;margin-bottom: 0.1vw" *ngIf="!loading">
      <input type="text" nz-input placeholder="在此处输入您想要搜索的事项名称" [(ngModel)]="inputValue"/>
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="loadDataFromServer()"><i nz-icon nzType="search"></i></button>
    </ng-template>
    <app-todo-item *ngFor="let item of todoList"
                   [id]="item.id"
                   [userId]="item.userId"
                   [beginDate]="item.beginDate"
                   [remindDate]="item.remindDate"
                   [content]="item.content"
                   [categoryId]="item.categoryId"
                   [itemDeadline]="item.endDate"
                   [itemName]="item.title"
                   [itemStatus]="item.isCompleted"
                   [isStar]="item.isFavorite"
                   [isHeart]="item.isImportant">
    </app-todo-item>
  </nz-spin>
  <div style="text-align: center;margin-top: 2vw">
    <div style="display: inline-block">
      <nz-pagination [nzPageIndex]="1"
                     [nzTotal]="total"
                     [nzPageSize]="pageSize"
                     [nzPageSizeOptions]="[2,4,6,8,10]"
                     [(nzPageIndex)]="pageIndex"
                     [(nzPageSize)]="pageSize"
                     (nzPageIndexChange)="loadDataFromServer()"
                     (nzPageSizeChange)="loadDataFromServer()"
                     nzShowQuickJumper
                     nzShowQuickJumper
                     nzResponsive
                     nzShowSizeChanger>
      </nz-pagination>
    </div>
  </div>
</div>
<app-add-todo [isStar]="true"></app-add-todo>

