<nz-breadcrumb>
    <nz-breadcrumb-item><a routerLink='/user'>用户中心</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>修改个人资料</nz-breadcrumb-item>
</nz-breadcrumb>

<div class="left-content">
    <div nz-row>
        <div nz-col nzSpan="8" class="row">
            <nz-badge nzColor="yellow"></nz-badge>
            用户ID
        </div>
        <div nz-col nzSpan="16" class="row">
            {{user.id}}
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="8" class="row">
            <nz-badge nzColor="orange"></nz-badge>
            登录名
        </div>
        <div nz-col nzSpan="16" class="row">
            {{user.username}}
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="8" class="row">
            <nz-badge nzColor="cyan"></nz-badge>
            姓名
        </div>
        <div nz-col nzSpan="16" class="row" id="show">
            {{nickname}}
            <button nz-button nzType="dashed" (click)="onEditUsername()">修改姓名</button>
        </div>
        <div nz-col nzSpan="15" class="row" id="hide">
            <input nz-input [(ngModel)]="nickname"/>
            <button nz-button nzType="dashed" (click)="onSubmit()">确认</button>
        </div>      
    </div>

    <div nz-row>
        <div nz-col nzSpan="8" class="row">
            <nz-badge nzColor="lime"></nz-badge>
            注册邮箱
        </div>
        <div nz-col nzSpan="16" class="row">
            {{user.email}}
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="8" class="row">
            <nz-badge nzColor="blue"></nz-badge>
            注册时间
        </div>
        <div nz-col nzSpan="16" class="row">
            {{creationTime}}
        </div>
    </div>
</div>

<div class="right-content">
    <nz-avatar [nzSize]="150" nzIcon="user"></nz-avatar>
    <h1>{{nickname}}</h1>
    <div class="upload-button">
        <button nz-button nzType="dashed"><i nz-icon nzType="upload"></i><span>上传头像</span></button>
    </div>
</div>
