nz-breadcrumb {
  margin: 16px 0;
}

.left-content {
  padding: 1.3vw 0 0 1.3vw;
  margin-right: 4.4vw;
  background: #fff;
  float: left;
  width: 70%;
  height: 100%;
}

.right-content {
  text-align: center;
  background: #fff;
  float: left;
  width: 20%;
  height: 100%;
}

.row {
  margin: 1.3vw auto;
  font-size: 1.3vw;
  padding: 1vw;
}

.row button {
  margin-left: 1.76vw;
}

button {
  font-size: 1.2vw;
}

#hide {
  display: none;
}

input {
  width: 25vw;
  font-size: 1.2vw;
}

.name-header {
  word-wrap: break-word;
  font-size: 1.7vw;
  font-weight: bold;
  margin: 2.65vw;
}

#upload-hide {
  display: none;
}

.upload-button input{
  width: 13.2vw;
}

:host ::ng-deep .avatar-uploader > .ant-upload {
  margin: 4.4vw 3vw auto;
  border-radius: 50%;
}

@media screen and (max-width:960px) {
  input {
    width: 17vw;
  }
}