<div class="content" nz-row>
  <div nz-col nzSm="24" nzXs="18">
    <nz-table
      (nzQueryParams)="onQueryParamsChange($event)"
      [nzData]="requestList"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzPageIndex]="pageIndex"
      [nzPageSize]="pageSize"
      [nzTotal]="total"
      nzHideOnSinglePage>
      <thead>
      <tr>
        <th [hidden]="true" [nzSortFn]="true" nzColumnKey="id">id</th>
        <th nzColumnKey="username">用户</th>
        <th nzColumnKey="groupName">申请通知群组名称</th>
        <th nzColumnKey="requestTime">申请日期</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of requestList">
        <td [hidden]="true">{{ data.id }}</td>
        <td>{{ data.username }}</td>
        <td>{{ data.groupName }}</td>
        <td>{{ data.requestTime }}</td>
        <td>
          <i (click)="dealOne(data.id, 1)" class="check-icon" nz-icon nzTheme="outline"
             nzType="check"></i>
          &nbsp;&nbsp;
          <i (click)="dealOne(data.id, 2)" class="close-icon" nz-icon nzTheme="outline"
             nzType="close"></i>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<div class="button-group">
  <div nz-row>
    <div [nzOffset]="2" nz-col>
      <nz-button-group>
        <button (click)="dealAll(1)" nz-button nzType="primary">
          <i nz-icon nzTheme="outline" nzType="check-circle"></i>全部同意
        </button>
        <button (click)="dealAll(2)" nz-button nzType="danger">
          <i nz-icon nzTheme="outline" nzType="stop"></i>全部拒绝
        </button>
      </nz-button-group>
    </div>
    <div [nzOffset]="2" nz-col>
      <button (click)="changeList()" nz-button>{{buttonTitle}}</button>
    </div>
  </div>
</div>
