<div style="padding:40px;">
  <div [nzGutter]="8" nz-row>
    <div [nzSpan]="11" nz-col>
      <nz-card nzTitle="通知群组详细信息">
        <div class="group-info">
          <nz-row>
            <nz-badge nzColor="blue" nzText="名称:{{group.title}}"></nz-badge>
          </nz-row>
          <nz-row>
            <nz-badge nzColor="blue" nzText="口令:"></nz-badge>
          </nz-row>
          <nz-row>
            {{ group.avatarUrl }}
          </nz-row>
          <nz-row>
            <nz-badge nzColor="blue" nzText="创建时间:{{group.creationDate}}"></nz-badge>
          </nz-row>
          <nz-row>
            <nz-badge nzColor="blue" nzText="备注:"></nz-badge>
          </nz-row>
          <div class="detail-mark">
            {{ group.remark }}
          </div>
        </div>
      </nz-card>
    </div>
    <div [nzSpan]="13" nz-col>
      <nz-card nzTitle="群组成员列表">
        <div class="user-list">
          <div class="table">
            <nz-table (nzQueryParams)="onQueryParamsChange($event)" [nzData]="listOfUsers" [nzFrontPagination]="false"
                      [nzLoading]="loading"
                      [nzPageIndex]="pageIndex" [nzPageSizeOptions]="[3]" [nzPageSize]="pageSize" [nzTotal]="total"
                      nzShowSizeChanger>
              <thead>
              <tr>
                <th nzColumnKey="nickname">成员昵称</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let data of listOfUsers">
                <td>{{ data.nickname }}</td>
              </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </nz-card>
    </div>
  </div>
  <nz-row class="buttons">
    <nz-col nz-col="3">
      <button (click)="dismissGroup()" nz-button nzDanger nzSize="large" nzType="primary">解散群组</button>
    </nz-col>
    <nz-col [nzOffset]="1" nz-col="3">
      <button nz-button nzSize="large" nzType="primary" routerLink="/notification/subscription/group-detail">返回
      </button>
    </nz-col>
  </nz-row>
</div>
