[nz-icon] {
  font-size: 2vw;
}
.star-icon{
  color: gold;
}
.heart-icon{
  color: #ed5a65;
}
.radio_type{
  width: 0.2vw;
  height: 0.2vw;
  appearance: none;
  position: relative;
}
.radio_type:before{
  content: '';
  width: 2vw;
  height: 2vw;
  border: 1px solid #7d7d7d;
  display: inline-block;
  background: white;
  border-radius: 30%;
  vertical-align: middle;
}
.radio_type:checked:before{
  content: '';
  width: 2vw;
  height: 2vw;
  border: 1px solid #c59c5a;
  background:#55e7fc;
  display: inline-block;
  vertical-align: middle;
}
.radio_type:checked:after{
  content: '';
  width: 1.6vw;
  height:1vw;
  border: 0.2vw solid white;
  border-top: transparent;
  border-right: transparent;
  text-align: center;
  display: block;
  position: absolute;
  top: 0.2vw;
  left:0.16vw;
  vertical-align: middle;
  transform: rotate(-45deg);
}
.ball {
  border-radius: 50%;
  width: 0.7vw;
  height: 0.7vw;
}
*{
  font-size: 1rem;
}
