<div class="plus-button">
  <i nz-icon nzTheme="twotone" nzTwotoneColor="#eb2f96" nzType="plus-circle"
     routerLink="/notification/subscription/join-group"></i>
</div>
<nz-table
  [nzData]="groupTable.data"
  [nzFrontPagination]="false"
  [nzLoading]="groupTable.loading"
  [nzPageIndex]="groupTable.pageIndex"
  [nzPageSize]="groupTable.pageSize"
  [nzTotal]="groupTable.total"
  nzHideOnSinglePage
  (nzQueryParams)="onQueryParamsChange($event)">
  <thead>
  <tr>
    <th nzColumnKey="id" [nzSortFn]="true">id</th>
    <th nzColumnKey="title">群组名</th>
    <th nzColumnKey="remark">备注</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of groupTable.data">
    <td>{{ data.id }}</td>
    <td>{{ data.title }}</td>
    <td>{{ data.remark }}</td>
    <td>
      <nz-badge [nzCount]="data.unreadCount">
        <button nz-button routerLink="/notification/subscription/group-detail/{{data.id}}">
          <i nz-icon nzTheme="twotone" nzType="info-circle"></i>查看详情
        </button>
      </nz-badge>
    </td>
  </tr>
  </tbody>
</nz-table>
