<div class="plus-button">
  <i nz-icon nzTheme="twotone" nzTwotoneColor="#eb2f96" nzType="plus-circle"
     routerLink="/notification/subscription/join-group"></i>
</div>
<nz-table
  [nzData]="listOfGroups"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  nzHideOnSinglePage
  (nzQueryParams)="onQueryParamsChange($event)">
  <thead>
  <tr>
    <th nzColumnKey="id" [nzSortFn]="true">id</th>
    <th nzColumnKey="title">群组名</th>
    <th nzColumnKey="remark">备注</th>
    <th>状态</th>
    <th>详情</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of listOfGroups">
    <td>{{ data.id }}</td>
    <td>{{ data.title }}</td>
    <td>{{ data.remark }}</td>
    <td>
      <p>有未读消息</p>
    </td>
    <td>
      <i nz-icon nzTheme="twotone" nzType="info-circle"
         routerLink="/notification/subscription/group-detail/{{data.id}}"></i>
    </td>
  </tr>
  </tbody>
</nz-table>
