<!--<p>group works!</p>-->
<!--<form>-->
<!--  <input [(ngModel)]="gid" name="detail">-->
<!--  <button (click)="getAllMessages()">获取</button>-->
<!--</form>-->

<div>
  <nz-table
    nzShowSizeChanger
    [nzData]="notificationList"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
  >
    <thead>
    <tr>
      <th nzColumnKey="id" [nzSortFn]="true">群组id</th>
      <th nzColumnKey="title">标题</th>
      <th nzColumnKey="content">内容</th>
      <th nzColumnKey="creationDate" >发布时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let notification of notificationList">
      <td>{{ notification.id }}</td>
      <td>{{ notification.title }}</td>
      <td>{{ notification.content }}</td>
      <td>{{ notification.creationDate }}</td>
      <td>
        <i nz-icon nzType="info-circle" nzTheme="twotone"
           routerLink="/notification/subscription/group-detail/{{notification.id}}"></i>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
