<div>
  <div style="min-height: 5vh" *ngIf="loading"></div>
  <nz-spin [nzSpinning]="loading" [nzSize]="'large'">

    <div nz-row *ngIf="!loading">
      <div nz-col [nzSpan]="18">
        <nz-input-group nzSearch [nzSuffix]="suffixIconSearch"  style="margin-top: 0.1vw;margin-bottom: 0.1vw;">
          <input type="text" nz-input placeholder="在此处输入您想要搜索的分类名称" [(ngModel)]="inputValue"/>
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="inputValue" (click)="inputValue = ''"></i>
          <i nz-icon nzType="search" (click)="loadDataFromServer()"></i>
        </ng-template>
      </div>
      <div nz-col [nzSpan]="6">
        <div style="height: 2vw;line-height: 2vw;font-size: 1.2rem">
          <span style="margin: 1.6vw auto auto 7vw ">共有 </span><span style="font-weight: bolder">{{total}}</span><span> 个结果</span>
        </div>
      </div>
    </div>

    <app-cate-unit *ngFor="let item of cateList"
                   [id]="item.id"
                   [typeName]="item.typeName"
                   [todoNum]="item.todoNum">
    </app-cate-unit>

    <div nz-row [nzGutter]="16">
      <div nz-col class="gutter-row" [nzSpan]="6">
      </div>
      <div nz-col class="gutter-row" [nzSpan]="12">
        <div class="inner-box">
          <button nz-button nzType="dashed" nzSize="large" style="width: 100%;margin-top: 1vw;font-weight: bolder;font-size: 1vw;line-height: 1vw" (click)="changeVisible()">+创建分类</button>
        </div>
      </div>
    </div>

    <div style="text-align: center;margin-top: 2vw">
      <div style="display: inline-block">
        <nz-pagination
          [(nzPageIndex)]="pageIndex"
          [(nzPageSize)]="pageSize"
          [nzPageSizeOptions]="[2,4,6,8,10]"
          [nzTotal]="total"
          (nzPageIndexChange)="loadDataFromServer()"
          (nzPageSizeChange)="loadDataFromServer()"
          nzShowQuickJumper
          nzResponsive
          nzShowSizeChanger>
        </nz-pagination>
      </div>
    </div>
  </nz-spin>
</div>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="创建分类"
  (nzOnCancel)="changeVisible()"
  (nzOnOk)="addCate()"
  [nzOkLoading]="isOkLoading"
>
  <h3>分类名称：</h3>
  <input nz-input placeholder="请在此处输入分类名称" [(ngModel)]="newCate" />
</nz-modal>
<nz-modal
  [(nzVisible)]="isVisible2"
  nzTitle="分类名称不合理"
  (nzOnCancel)="isVisible2=false"
  (nzOnOk)="isVisible2=false"
  [nzZIndex]="1001"
>
  <p>分类名称不可为空！</p>
</nz-modal>
