<div nz-row>
  <div class="-left-content" nz-col nzSpan="18">
    <nz-table (nzQueryParams)="onNotificationQueryParamsChange($event)"
              [nzData]="nTable.data"
              [nzFrontPagination]="false"
              [nzLoading]="nTable.loading"
              [nzPageIndex]="nTable.pageIndex"
              [nzPageSize]="nTable.pageSize"
              [nzTotal]="nTable.total">
      <thead>
      <tr>
        <th nzColumnKey="title" nzWidth="10vw">标题</th>
        <th nzColumnKey="nickname">发布人</th>
        <th nzColumnKey="creationDate">发布日期</th>
        <th>详情</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let item of nTable.data">
        <tr>
          <td>{{item.title}}</td>
          <td>{{item.nickname}}</td>
          <td>{{item.creationDate|date:'yyyy年MM月dd日 HH时mm分'}}</td>
          <td (nzExpandChange)="onExpandChange(item.id, $event)" [nzExpand]="expandSet.has(item.id)"></td>
          <td>
            <i nz-icon nz-tooltip="编辑" nzTheme="twotone" nzType="edit"></i>
            &nbsp;
            <i (click)="deleteNotification(item.id)" nz-icon nz-tooltip="删除" nzTheme="twotone" nzTwotoneColor="#eb2f96"
               nzType="delete"></i>
          </td>
        </tr>
        <tr [nzExpand]="expandSet.has(item.id)">
          <td>正文：{{item.content}}</td>
        </tr>
      </ng-container>
      </tbody>
    </nz-table>
  </div>

  <div [nzSpan]="6" nz-col>
    <div class="user-list">
      <div class="table">
        <nz-table (nzQueryParams)="onQueryParamsChange($event)" [nzData]="listOfUsers" [nzFrontPagination]="false"
                  [nzLoading]="loading"
                  [nzPageIndex]="pageIndex" [nzPageSize]="mTable.pageSize" [nzTotal]="total" nzHideOnSinglePage>
          <thead>
          <tr>
            <th nzColumnKey="id">ID</th>
            <th nzColumnKey="nickname">成员昵称</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of listOfUsers">
            <td>{{ data.userId }}</td>
            <td>{{ data.nickname }}</td>
            <td>
              <i (click)="updateUser(data)" *ngIf="data.isAdmin == 0" nz-icon nzTheme="outline" nzType="user-add"
                 style="color: green"></i>
              <i (click)="updateUser(data)" *ngIf="data.isAdmin == 1" nz-icon nzTheme="outline" nzType="user-delete"
                 style="color: red"></i>
              &nbsp;
              <i (click)="deleteUser(data.userId)" class="close-icon" nz-icon nzTheme="outline" nzType="close"
                 style="color: red"></i>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</div>
<nz-row class="buttons" style="margin-top: 2%">
  <nz-col nz-col="3">
    <button [nzLoading]="nTable.loading" nz-button nzType="danger"><i nz-icon nzTheme="outline" nzType="clear"></i>
      全部删除
    </button>
    <button nz-button nzSize="large" nzType="primary" routerLink="/notification/publish">返回</button>
    <button (click)="openDrawer()" nz-button>群组资料</button>
  </nz-col>
</nz-row>
<nz-drawer (nzOnClose)="closeDrawer()" [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="群组资料"
           nzWidth="30%">
  <div class="group-info">
    <div [nzSpan]="11" nz-col>
      <nz-card nzTitle="管理群组信息">
        <div class="group-info">
          <nz-row>
            <nz-badge></nz-badge>
          </nz-row>
          <div class="group-info">
            <nz-row>
              <nz-badge nzColor="blue" nzText="名称: "></nz-badge>
              <input [(ngModel)]="updateGroupInfo.title" style="margin-left:1%;" type="text"/>
            </nz-row>
            <nz-row>
              <nz-badge nzColor="blue" nzText="备注: "></nz-badge>
            </nz-row>
            <input [(ngModel)]="updateGroupInfo.remark" class="detail-mark" style="margin-left:1%;"/>
            <nz-row>
              <nz-badge nzColor="blue" nzText="权限: "></nz-badge>
              <label>
                <select [(ngModel)]="permission" style="margin-left:1%;">
                  <option value=0>需要审核</option>
                  <option value=1>允许任何人加入</option>
                  <option value=2>拒绝任何人加入</option>
                </select>
              </label>
            </nz-row>
            <nz-row>
              <button (click)="submitForm()" nz-button nzSize="large" nzType="primary">
                <i nz-icon nzTheme="outline" nzType="save"></i>提交修改
              </button>
            </nz-row>
          </div>
        </div>
      </nz-card>
    </div>
    <!--    <nz-list nzItemLayout="vertical">-->
    <!--      <nz-list-item>-->
    <!--        <nz-list-item-meta>-->
    <!--          <nz-list-item-meta-avatar [nzSrc]="group.avatarUrl"></nz-list-item-meta-avatar>-->
    <!--          <nz-list-item-meta-title>{{group.title}}</nz-list-item-meta-title>-->
    <!--          <nz-list-item-meta-description>备注：{{group.remark}}</nz-list-item-meta-description>-->
    <!--          <nz-list-item-meta-description>-->
    <!--            创建时间：{{group.creationDate|date:'yyyy年MM月dd日 HH时mm分'}}</nz-list-item-meta-description>-->
    <!--        </nz-list-item-meta>-->
    <!--      </nz-list-item>-->
    <!--    </nz-list>-->
    <button (click)="dismissGroup()" nz-button nzDanger nzSize="large" nzType="primary" style="margin: auto 0.2vw">解散群组
    </button>
    <button nz-button nzSize="large" nzType="primary" routerLink="/notification/publish">返回</button>
  </div>
</nz-drawer>
