nz-breadcrumb {
    margin: 16px 0;
}

.inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
    height: 100%;
    text-align: center;
}
  
.row {
    margin: 15px auto;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

button {
    font-size: 17px;
}