<nz-page-header nzTitle="创建群组">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>发布中心</nz-breadcrumb-item>
    <nz-breadcrumb-item>创建群组</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<div nz-row nzAlign="middle">
  <div nz-col nzOffset="5" nzSpan="16" style="margin-top: 3em">
    <form (ngSubmit)="submitFrom()" [formGroup]="createGroupForm" nz-form>
      <nz-form-item>
        <nz-form-label nzRequired nzSm="6" nzXs="6">群名</nz-form-label>
        <nz-form-control nzSm="14" nzXs="12">
          <label>
            <input formControlName="title" nz-input placeholder="请输入群组名：">
          </label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSm="6">描述</nz-form-label>
        <nz-form-control nzSm="14" nzXs="12">
          <label>
            <textarea formControlName="remark" nz-input placeholder="请输入群组描述：" rows="2"></textarea>
          </label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSm="6" nzXs="6">加群方式</nz-form-label>
        <nz-form-control nzSm="14" nzXs="12">
          <nz-select formControlName="permission" nzPlaceHolder="请选择加群方式">
            <nz-option nzLabel="需要管理员审核" nzValue="0"></nz-option>
            <nz-option nzLabel="允许任何人加入" nzValue="1"></nz-option>
            <nz-option nzLabel="不允许任何人加入" nzValue="2"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzOffset="6" nzSm="14" nzXs="24">
          <button [disabled]="!createGroupForm.valid" nz-button nzType="primary">
            <i nz-icon nzTheme="outline" nzType="send"></i>提交
          </button>
          <button (click)="resetForm($event)" nz-button>
            <i nz-icon nzTheme="outline" nzType="redo"></i>重置
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
